3. IoT Application using IoT Sensor Data to Node-red/flows.json
[{"id":"bb149d42.2d4f5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fcf4f5d.22424","type":"ibmiot in","z":"bb149d42.2d4f5","authentication":"apiKey","apiKey":"d275e3e9.daf29","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"451984","applicationId":"","deviceType":"Raspberry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["e8cbc9a8.434ed8","6208926c.4ddb7c","7491a3fa.f8227c","a920a975.6fd688","1efa8783.a0e8c8","5187db75.b1b0b4","14310fe1.6f10c"]]},{"id":"e8cbc9a8.434ed8","type":"debug","z":"bb149d42.2d4f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"90b5330e.bc8f3","type":"cloudant out","z":"bb149d42.2d4f5","name":"","cloudant":"","database":"iotdata1","service":"ciie-cloudant-1601444301880-83966","payonly":true,"operation":"insert","x":200,"y":400,"wires":[]},{"id":"6208926c.4ddb7c","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"7a4de0c9.c74de","order":0,"width":0,"height":0,"gtype":"gage","title":"HeartRate","label":"units","format":"{{msg.payload.heartrate}}","min":"60","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":180,"wires":[]},{"id":"7491a3fa.f8227c","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"8e568cc1.1d687","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Pressure","label":"units","format":"{{msg.payload.bloodpressure}}","min":"60","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":240,"wires":[]},{"id":"a920a975.6fd688","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"639337d2.5feb08","order":0,"width":0,"height":0,"gtype":"gage","title":"Air Pollution","label":"units","format":"{{msg.payload.airpollution}}","min":"51","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":300,"wires":[]},{"id":"1efa8783.a0e8c8","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"c03f2341.5830c","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":"30","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":360,"wires":[]},{"id":"5187db75.b1b0b4","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"2a20c3ae.16a2cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":"90","max":"100","colors":["#0027b3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":400,"wires":[]},{"id":"14310fe1.6f10c","type":"ui_gauge","z":"bb149d42.2d4f5","name":"","group":"37e14b8a.09e0b4","order":0,"width":0,"height":0,"gtype":"gage","title":"BreathRate","label":"units","format":"{{msg.payload.breathrate}}","min":"12","max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":460,"wires":[]},{"id":"d275e3e9.daf29","type":"ibmiot","z":"","name":"New API","keepalive":"60","serverName":"01fx1i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7a4de0c9.c74de","type":"ui_group","z":"","name":"HeartRate","tab":"5e2a98c6.6c6ee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e568cc1.1d687","type":"ui_group","z":"","name":"BloodPressure","tab":"5e2a98c6.6c6ee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"639337d2.5feb08","type":"ui_group","z":"","name":"AirPollution","tab":"5e2a98c6.6c6ee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c03f2341.5830c","type":"ui_group","z":"","name":"Humidity","tab":"5e2a98c6.6c6ee8","order":4,"disp":true,"width":"6","collapse":false},{"id":"2a20c3ae.16a2cc","type":"ui_group","z":"","name":"Temperature","tab":"5e2a98c6.6c6ee8","order":5,"disp":true,"width":"6","collapse":false},{"id":"37e14b8a.09e0b4","type":"ui_group","z":"","name":"BreathRate","tab":"5e2a98c6.6c6ee8","order":6,"disp":true,"width":"6","collapse":false},{"id":"5e2a98c6.6c6ee8","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]